body {
	background-color:whitesmoke;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
	max-width: 1000px;
	margin: 0px auto;
  }
  
  .card {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
	margin-bottom: 12px;
	background:white;
	padding: 12px;
	border: 1px solid grey;
  }
  h2 {
	text-transform: uppercase;
  }
  
  table {
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
  }
  
  a {
	text-decoration: none;
	color: black;
	font-weight: 700;
  }
  a:hover{
	color:orangered;
  }
  
  a:active{
	color:red;
  }
  
  tr:nth-child(even) {background: whitesmoke}
  tr:nth-child(odd) {background: white}
  tbody tr:hover {background: lightgray; color:black;}
  td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
  }
  th {
	padding: 12px;
	color: orangered;
	border-bottom: 2px solid orangered;
  }
  
  input, select {
	margin-top:6px;
	padding: 6px;
	outline: none;
	border:none;
	color: grey;
	background-color:whitesmoke;
	border-bottom: 2px solid orangered; 
  }
  
  button{
	font-size: 16px;
	padding: 12px;
	background: darkorange;
	margin: 0px;
	border: none;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	outline: none;
	transition: 0.25s;
  }
  
  button:hover {
	color: white;
	background:orangered;
	cursor: pointer;
	
  }
  
  button:active {
	background:red;
  }
  
  .form-control {
	flex-grow:1;
	margin: 8px;
	display:flex;
	flex-direction: column;
  }
  
  .result-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  .result-list a{
	margin: 0px 6px;
  }
  